body {
  margin: 0;
  color: #dddddd;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 20px auto;
  font-family: 'Montserrat', cursive;
  font-size: 5.625rem;
  color: #30475e;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #30475e;
  font-weight: bold;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #222831;
}

span {
  text-decoration: underline;
}

a {
  color: #dddddd;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border-style: dotted none none;
  border-width: 6px;
  border-color: #d0e8f2;
  display: inline-block;
  width: 4%;
  margin: 100px auto 100px auto;
  clear: both;
}

p {
    line-height: 2;
    color: #222831;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-container {
  padding-top: 100px;
  position: relative;
}

.middle-container {
 margin: 100px 0;
}

.bottom-container {
 background-color: #30475e;
 padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.profile-picture {
  width: 15%;
  height: auto;
  border-radius: 100%;
  margin-bottom: 3rem;
}

.workout-picture {
  width: 25%;
  margin-right: 30px;
  float: left;
  border-radius: 100%;
}

.videogame-picture {
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 50px;
  border-radius: 100%;
}

.skill-row {
  margin: 150px auto;
  width: 50%;
  text-align: left;
  clear: both;
}

.bottom-line {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-me {
  font-weight: 900;
}

#contact-me {
  font-weight: 900;
}

.marketing-sentence {
  margin: 40px auto 60px;
  width: 40%;
}

.btn {
   background: #0F3057;
   background-image: -webkit-linear-gradient(top, #0F3057, #00587A);
   background-image: -moz-linear-gradient(top, #0F3057, #00587A);
   background-image: -ms-linear-gradient(top, #0F3057, #00587A);
   background-image: -o-linear-gradient(top, #0F3057, #00587A);
   background-image: -webkit-gradient(to bottom, #0F3057, #00587A);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 0;
   background: #00587A;
   background-image: -webkit-linear-gradient(top, #00587A, #008891);
   background-image: -moz-linear-gradient(top, #00587A, #008891);
   background-image: -ms-linear-gradient(top, #00587A, #008891);
   background-image: -o-linear-gradient(top, #00587A, #008891);
   background-image: -webkit-gradient(to bottom, #00587A, #008891);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.last-note {
  width: 30%;
  margin: auto;
}
